USE [master]
GO
/****** Object:  Database [DU_AN_1]    Script Date: 08/04/2024 02:38:56 CH ******/
CREATE DATABASE [DU_AN_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DU_AN_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DU_AN_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DU_AN_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DU_AN_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DU_AN_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DU_AN_1]
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[MASP] [varchar](20) NOT NULL,
	[MAPN] [int] NOT NULL,
	[SL] [int] NOT NULL,
	[GIANHAP] [float] NOT NULL,
	[NGAYSX] [date] NULL,
	[NGAYHH] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUXUAT]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUXUAT](
	[MASP] [varchar](20) NOT NULL,
	[MAPX] [int] NOT NULL,
	[SLXUAT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHDBANLE]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDBANLE](
	[MAHDBANLE] [int] NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[GIABAN] [float] NOT NULL,
	[SL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAHDBANLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHDDATHANG]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDDATHANG](
	[MAHDDATHANG] [int] NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[SL] [int] NOT NULL,
	[GIABAN] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDDATHANG] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [varchar](20) NOT NULL,
	[TENCV] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GGHOADON]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GGHOADON](
	[MAGG] [varchar](20) NOT NULL,
	[SL] [int] NOT NULL,
	[NGAYBD] [date] NOT NULL,
	[NGAYKT] [date] NULL,
	[MUCGG] [float] NOT NULL,
	[HINHTHUC] [bit] NOT NULL,
	[GIATIENAPDUNG] [float] NOT NULL,
	[MANV] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GGSANPHAM]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GGSANPHAM](
	[MASP] [varchar](20) NOT NULL,
	[NGAYBD] [date] NOT NULL,
	[NGAYKT] [date] NULL,
	[MANV] [varchar](20) NOT NULL,
	[GIAGIAM] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDBANLE]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDBANLE](
	[MAHDBANLE] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[SDTKH] [varchar](20) NULL,
	[MAGG] [varchar](20) NULL,
	[MANV] [varchar](20) NOT NULL,
	[DIEMSD] [int] NULL,
	[KHUYENMAI] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDBANLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDDATHANG]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDDATHANG](
	[MAHDDATHANG] [int] IDENTITY(1,1) NOT NULL,
	[TRANGTHAI] [varchar](5) NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[DIACHIGIAO] [nvarchar](100) NOT NULL,
	[MAGG] [varchar](20) NULL,
	[SDTKH] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NULL,
	[HINHTHUCTHANHTOAN] [bit] NULL,
	[KHUYENMAI] [float] NULL,
	[DIEMSD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHDDATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEHANG]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEHANG](
	[MAKE] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SDT] [varchar](20) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SODIEM] [int] NULL,
	[gmail] [varchar](50) NULL,
	[matkhau] [varchar](30) NULL,
	[Diachi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [varchar](20) NOT NULL,
	[TENKHO] [nvarchar](70) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALOAI] [varchar](20) NOT NULL,
	[TENLOAI] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [varchar](20) NOT NULL,
	[TENNCC] [nvarchar](70) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](70) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[HINH] [image] NULL,
	[MACV] [varchar](20) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYVAOLAM] [date] NULL,
	[MATKHAU] [varchar](30) NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[GHICHU] [nvarchar](100) NULL,
	[MANV] [varchar](20) NOT NULL,
	[MAKHO] [varchar](20) NOT NULL,
	[MANCC] [varchar](20) NOT NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [int] IDENTITY(1,1) NOT NULL,
	[NGAYXUAT] [datetime] NULL,
	[GHICHU] [nvarchar](100) NULL,
	[MAKE] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](20) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[HINH] [image] NULL,
	[GIABAN] [float] NULL,
	[GIANHAP] [float] NULL,
	[SLTRENKE] [int] NULL,
	[SLTONKHO] [int] NULL,
	[QRCODE] [varchar](30) NULL,
	[DONVI] [nvarchar](10) NOT NULL,
	[MAKE] [varchar](20) NULL,
	[MALOAI] [varchar](20) NOT NULL,
	[MANCC] [varchar](20) NOT NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM_KHO]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM_KHO](
	[MASP] [varchar](20) NOT NULL,
	[MAKHO] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTPHIEUNHAP] ([MASP], [MAPN], [SL], [GIANHAP], [NGAYSX], [NGAYHH]) VALUES (N'SP01', 2, 500, 5000, CAST(N'2023-03-01' AS Date), CAST(N'2023-03-31' AS Date))
INSERT [dbo].[CTPHIEUNHAP] ([MASP], [MAPN], [SL], [GIANHAP], [NGAYSX], [NGAYHH]) VALUES (N'SP02', 6, 500, 5000, CAST(N'2023-07-23' AS Date), CAST(N'2023-07-26' AS Date))
GO
INSERT [dbo].[CTPHIEUXUAT] ([MASP], [MAPX], [SLXUAT]) VALUES (N'SP01', 1, 100)
INSERT [dbo].[CTPHIEUXUAT] ([MASP], [MAPX], [SLXUAT]) VALUES (N'SP02', 2, 100)
GO
INSERT [dbo].[CTHDBANLE] ([MAHDBANLE], [MASP], [GIABAN], [SL]) VALUES (9, N'SP01', 7000, 10)
INSERT [dbo].[CTHDBANLE] ([MAHDBANLE], [MASP], [GIABAN], [SL]) VALUES (12, N'SP01', 7000, 1)
INSERT [dbo].[CTHDBANLE] ([MAHDBANLE], [MASP], [GIABAN], [SL]) VALUES (14, N'SP01', 7000, 1)
GO
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'1', N'Chủ cửa hàng')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'2', N'Quản Lý')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'3', N'Nhân Viên Kho')
GO
INSERT [dbo].[GGSANPHAM] ([MASP], [NGAYBD], [NGAYKT], [MANV], [GIAGIAM]) VALUES (N'SP01', CAST(N'2024-04-08' AS Date), CAST(N'2024-04-09' AS Date), N'admin', 1000)
INSERT [dbo].[GGSANPHAM] ([MASP], [NGAYBD], [NGAYKT], [MANV], [GIAGIAM]) VALUES (N'SP02', CAST(N'2023-07-23' AS Date), CAST(N'2023-07-24' AS Date), N'admin', 5000)
GO
SET IDENTITY_INSERT [dbo].[HDBANLE] ON 

INSERT [dbo].[HDBANLE] ([MAHDBANLE], [NGAYLAP], [TRANGTHAI], [SDTKH], [MAGG], [MANV], [DIEMSD], [KHUYENMAI]) VALUES (1, CAST(N'2022-12-11T21:34:37.463' AS DateTime), 0, NULL, NULL, N'NV01', NULL, NULL)
INSERT [dbo].[HDBANLE] ([MAHDBANLE], [NGAYLAP], [TRANGTHAI], [SDTKH], [MAGG], [MANV], [DIEMSD], [KHUYENMAI]) VALUES (9, CAST(N'2023-03-09T12:58:01.337' AS DateTime), 1, NULL, NULL, N'admin', 0, 0)
INSERT [dbo].[HDBANLE] ([MAHDBANLE], [NGAYLAP], [TRANGTHAI], [SDTKH], [MAGG], [MANV], [DIEMSD], [KHUYENMAI]) VALUES (12, CAST(N'2023-03-14T09:50:23.547' AS DateTime), 1, NULL, NULL, N'admin', 0, 0)
SET IDENTITY_INSERT [dbo].[HDBANLE] OFF
GO
INSERT [dbo].[KEHANG] ([MAKE]) VALUES (N'KH1')
GO
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI]) VALUES (N'KHO1', N'KHO CHÍNH', N'123 Dương Thị Mười - Tân Chánh Hiệp - Q12 - TP.HCM')
GO
INSERT [dbo].[LOAIHANG] ([MALOAI], [TENLOAI]) VALUES (N'LH01', N'Sữa')
INSERT [dbo].[LOAIHANG] ([MALOAI], [TENLOAI]) VALUES (N'LH02', N'Nước Ngọt')
GO
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [TRANGTHAI]) VALUES (N'NCC1', N'Vinamilk', N'0931418748', N'', 1)
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI], [TRANGTHAI]) VALUES (N'NCC2', N'CoCa-CoLa', N'0931418745', N'', 1)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [HINH], [MACV], [DIACHI], [NGAYVAOLAM], [MATKHAU], [TINHTRANG]) VALUES (N'admin', N'Trần Tiến Sỹ', 1, CAST(N'2003-11-21' AS Date), N'0326894259', N'a@gmai.com', NULL, N'1', N'BT', CAST(N'2022-11-21' AS Date), N'admin', 1)
GO
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [GHICHU], [MANV], [MAKHO], [MANCC], [TINHTRANG]) VALUES (2, CAST(N'2023-03-09' AS Date), NULL, N'admin', N'KHO1', N'NCC1', NULL)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [GHICHU], [MANV], [MAKHO], [MANCC], [TINHTRANG]) VALUES (6, CAST(N'2023-07-23' AS Date), NULL, N'admin', N'KHO1', N'NCC2', NULL)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUXUAT] ON 

INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAYXUAT], [GHICHU], [MAKE], [MANV]) VALUES (1, CAST(N'2023-03-09T12:56:50.460' AS DateTime), N'', N'KH1', N'admin')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAYXUAT], [GHICHU], [MAKE], [MANV]) VALUES (2, CAST(N'2023-07-23T19:44:16.997' AS DateTime), N'', N'KH1', N'admin')
SET IDENTITY_INSERT [dbo].[PHIEUXUAT] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SANPHAM_DUYN]    Script Date: 08/04/2024 02:38:56 CH ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [SANPHAM_DUYN] UNIQUE NONCLUSTERED 
(
	[QRCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((0)) FOR [SODIEM]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[CTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUXUAT_PHIEUXUAT] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
GO
ALTER TABLE [dbo].[CTPHIEUXUAT] CHECK CONSTRAINT [FK_CTPHIEUXUAT_PHIEUXUAT]
GO
ALTER TABLE [dbo].[CTPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUXUAT_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTPHIEUXUAT] CHECK CONSTRAINT [FK_CTPHIEUXUAT_SANPHAM]
GO
ALTER TABLE [dbo].[CTHDBANLE]  WITH CHECK ADD FOREIGN KEY([MAHDBANLE])
REFERENCES [dbo].[HDBANLE] ([MAHDBANLE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHDBANLE]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHDDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTHDDATHANG_HDDATHANG] FOREIGN KEY([MAHDDATHANG])
REFERENCES [dbo].[HDDATHANG] ([MAHDDATHANG])
GO
ALTER TABLE [dbo].[CTHDDATHANG] CHECK CONSTRAINT [FK_CTHDDATHANG_HDDATHANG]
GO
ALTER TABLE [dbo].[CTHDDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTHDDATHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHDDATHANG] CHECK CONSTRAINT [FK_CTHDDATHANG_SANPHAM]
GO
ALTER TABLE [dbo].[GGHOADON]  WITH CHECK ADD  CONSTRAINT [FK_GGHOADON_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[GGHOADON] CHECK CONSTRAINT [FK_GGHOADON_MANV]
GO
ALTER TABLE [dbo].[GGSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_GGSANPHAM_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[GGSANPHAM] CHECK CONSTRAINT [FK_GGSANPHAM_MANV]
GO
ALTER TABLE [dbo].[GGSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_GGSANPHAM_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[GGSANPHAM] CHECK CONSTRAINT [FK_GGSANPHAM_MASP]
GO
ALTER TABLE [dbo].[HDBANLE]  WITH CHECK ADD  CONSTRAINT [FK_HDBANLE_KHACHHANG] FOREIGN KEY([SDTKH])
REFERENCES [dbo].[KHACHHANG] ([SDT])
GO
ALTER TABLE [dbo].[HDBANLE] CHECK CONSTRAINT [FK_HDBANLE_KHACHHANG]
GO
ALTER TABLE [dbo].[HDBANLE]  WITH CHECK ADD  CONSTRAINT [FK_HDBANLE_MAGG] FOREIGN KEY([MAGG])
REFERENCES [dbo].[GGHOADON] ([MAGG])
GO
ALTER TABLE [dbo].[HDBANLE] CHECK CONSTRAINT [FK_HDBANLE_MAGG]
GO
ALTER TABLE [dbo].[HDBANLE]  WITH CHECK ADD  CONSTRAINT [FK_HDBANLE_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HDBANLE] CHECK CONSTRAINT [FK_HDBANLE_MANV]
GO
ALTER TABLE [dbo].[HDDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDDATHANG_KHACHHANG] FOREIGN KEY([SDTKH])
REFERENCES [dbo].[KHACHHANG] ([SDT])
GO
ALTER TABLE [dbo].[HDDATHANG] CHECK CONSTRAINT [FK_HDDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[HDDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDDATHANG_MAGG] FOREIGN KEY([MAGG])
REFERENCES [dbo].[GGHOADON] ([MAGG])
GO
ALTER TABLE [dbo].[HDDATHANG] CHECK CONSTRAINT [FK_HDDATHANG_MAGG]
GO
ALTER TABLE [dbo].[HDDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDDATHANG_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HDDATHANG] CHECK CONSTRAINT [FK_HDDATHANG_MANV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_KHO]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_MAKE] FOREIGN KEY([MAKE])
REFERENCES [dbo].[KEHANG] ([MAKE])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_MAKE]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_MANV]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_LOAIHANG_MALOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_LOAIHANG_MALOAI]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_LOAIHANG_MANCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_LOAIHANG_MANCC]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_MAKE] FOREIGN KEY([MAKE])
REFERENCES [dbo].[KEHANG] ([MAKE])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_MAKE]
GO
ALTER TABLE [dbo].[SANPHAM_KHO]  WITH CHECK ADD FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM_KHO]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[SP_CTHDDATHANG]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CTHDDATHANG] 
@MAHD VARCHAR(50), @MASP VARCHAR(20),@SL INT, @GIABAN FLOAT
AS
BEGIN
	INSERT INTO CTHDDATHANG VALUES (@MAHD,@MASP,@SL,@GIABAN)
	UPDATE SANPHAM SET SLTRENKE = SLTRENKE - @SL WHERE MASP = @MASP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMAGG]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMAGG]
@MASP VARCHAR(20)
AS
BEGIN
	SELECT * FROM GGSANPHAM
	WHERE (GETDATE() BETWEEN NGAYBD AND NGAYKT) AND MASP LIKE @MASP
END
 

GO
/****** Object:  StoredProcedure [dbo].[SP_HOANTATPHIEUXUAT]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HOANTATPHIEUXUAT]
@MAPX VARCHAR(20), @MASP VARCHAR(20), @SL INT, @MAKE VARCHAR(20)
AS
BEGIN
	UPDATE SANPHAM SET SLTRENKE = SLTRENKE + @SL, SLTONKHO = SLTONKHO - @SL, MAKE = @MAKE WHERE MASP = @MASP
END

GO
/****** Object:  StoredProcedure [dbo].[SP_HUYMAGGHD]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HUYMAGGHD]
	@MAHD VARCHAR(20), @MAGGHD VARCHAR(50)
AS
BEGIN
	UPDATE HDBANLE SET MAGG = NULL WHERE MAHDBANLE = @MAHD
	UPDATE GGHOADON SET SL = SL +1 WHERE MAGG = @MAGGHD
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTCTPHIEUNHAP]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--THÊM SẢN PHẨM VÀO CT PHIẾU
CREATE PROC [dbo].[SP_INSERTCTPHIEUNHAP]
@MAPN VARCHAR(30), @SL INT ,@MASP VARCHAR(20),@GIANHAP FLOAT, @NGAYSX DATE, @NGAYHH DATE
AS
BEGIN
	INSERT INTO CTPHIEUNHAP VALUES (@MASP,@MAPN,@SL,@GIANHAP,@NGAYSX,@NGAYHH)
	UPDATE SANPHAM SET SLTONKHO = SLTONKHO + @SL WHERE MASP =@MASP
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTCTHDBANLE]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTCTHDBANLE]
@MAHD VARCHAR(20),@MASP VARCHAR(20),@GIABAN FLOAT, @SL INT
AS
BEGIN
	UPDATE SANPHAM SET SLTRENKE = SLTRENKE - @SL WHERE MASP = @MASP
	INSERT INTO CTHDBANLE VALUES(@MAHD,@MASP,@GIABAN,@SL)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTPHIEUXUAT]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTPHIEUXUAT]
@NGAYXUAT DATETIME, @GHICHU NVARCHAR(100),@MAKE VARCHAR(20), @MANV VARCHAR(20)
AS
BEGIN
	INSERT INTO PHIEUXUAT VALUES (@NGAYXUAT,@GHICHU,@MAKE,@MANV)
	SELECT TOP 1 MAPX FROM PHIEUXUAT
	ORDER BY MAPX DESC
END


GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTHDBANLE]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--tạo hóa đơn bán lẻ
CREATE PROC [dbo].[SP_INSERTHDBANLE]
@NGAYLAP DATETIME,@MANV VARCHAR(20)
AS
BEGIN
	INSERT INTO HDBANLE VALUES(@NGAYLAP,0,NULL,NULL,@MANV,NULL,NULL)
	SELECT TOP 1 MAHDBANLE FROM HDBANLE 
	ORDER BY MAHDBANLE DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LICHSULENKE]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LICHSULENKE]
@NGAYBD DATE = NULL, @NGAYKT DATE = NULL,@THEONGAY DATE = NULL
AS
BEGIN
IF @NGAYBD IS NULL
BEGIN
	SELECT @NGAYBD = MIN(NGAYXUAT) FROM PHIEUXUAT
END
IF @NGAYKT IS NULL
BEGIN
	SELECT @NGAYKT = MAX(NGAYXUAT) FROM PHIEUXUAT
END
	IF @THEONGAY IS NULL
	BEGIN
	SELECT * FROM PHIEUXUAT
	WHERE NGAYXUAT >= @NGAYBD AND NGAYXUAT <= @NGAYKT
	GROUP BY NGAYXUAT,MAPX,GHICHU,MAKE,MANV
	END
	ELSE
	BEGIN
		SELECT * FROM PHIEUXUAT
		WHERE NGAYXUAT >= CONCAT(@THEONGAY,' 00:00:00') AND NGAYXUAT <= CONCAT(@THEONGAY,' 23:59:59')
		GROUP BY NGAYXUAT,MAPX,GHICHU,MAKE,MANV
		
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SDMAGGHD]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SDMAGGHD]
@MAHD VARCHAR(20), @MAGGHD VARCHAR(50)
AS
BEGIN
	UPDATE HDBANLE SET MAGG = @MAGGHD WHERE MAHDBANLE = @MAHD
	UPDATE GGHOADON SET SL = SL - 1 WHERE MAGG = @MAGGHD
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTCTPHIEUNHAP]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SELECTCTPHIEUNHAP]
@MAPN VARCHAR(20)
AS
BEGIN
	SELECT CTPHIEUNHAP.MASP,SANPHAM.TENSP,CTPHIEUNHAP.GIANHAP,CTPHIEUNHAP.SL,SANPHAM.DONVI,CTPHIEUNHAP.NGAYSX
	,CTPHIEUNHAP.NGAYHH,CTPHIEUNHAP.SL * CTPHIEUNHAP.GIANHAP AS TONGTIEN FROM CTPHIEUNHAP
	JOIN SANPHAM ON SANPHAM.MASP = CTPHIEUNHAP.MASP
	WHERE CTPHIEUNHAP.MAPN = @MAPN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTCTPHIEUXUAT]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SELECTCTPHIEUXUAT]
@MAPX VARCHAR(50)
AS
BEGIN
	SELECT MASP,SLXUAT FROM CTPHIEUXUAT
	WHERE MAPX = @MAPX
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTPHIEUNHAP]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SELECTPHIEUNHAP]
AS
BEGIN
	SELECT PHIEUNHAP.MAPN,NHACC.TENNCC,PHIEUNHAP.NGAYNHAP,SUM(CTPHIEUNHAP.SL * CTPHIEUNHAP.GIANHAP)AS TONGTIEN,NHANVIEN.HOTEN,PHIEUNHAP.GHICHU AS TONGTIEN FROM PHIEUNHAP
	JOIN NHACC ON NHACC.MANCC = PHIEUNHAP.MANCC
	JOIN NHANVIEN ON NHANVIEN.MANV = PHIEUNHAP.MANV
	JOIN CTPHIEUNHAP ON CTPHIEUNHAP.MAPN = PHIEUNHAP.MAPN
	GROUP BY PHIEUNHAP.MAPN,NHACC.TENNCC,PHIEUNHAP.NGAYNHAP,NHANVIEN.HOTEN,PHIEUNHAP.GHICHU
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTPHIEUNHAPVATK]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SELECTPHIEUNHAPVATK]
@MAPN VARCHAR(20) = NULL,@NGAYBD DATE = NULL, @NGAYKT DATE = NULL,@THEONGAY DATE = NULL,@MANCC VARCHAR(20) =NULL
AS
BEGIN
	IF @MAPN IS NULL
	BEGIN
		SET @MAPN = '%'
	END
	IF @NGAYBD IS NULL
	BEGIN
		SELECT @NGAYBD = MIN(NGAYNHAP) FROM PHIEUNHAP
	END
	IF @NGAYKT IS NULL
	BEGIN
		SELECT @NGAYKT = MAX(NGAYNHAP) FROM PHIEUNHAP
	END
	IF @MANCC IS NULL
	BEGIN
		SET @MANCC = '%'
	END

	IF @THEONGAY IS NULL
	BEGIN
		SELECT * FROM PHIEUNHAP
		WHERE MAPN LIKE @MAPN AND NGAYNHAP >= @NGAYBD AND NGAYNHAP<=@NGAYKT AND MANCC LIKE @MANCC
	END
	ELSE
	BEGIN
		SELECT * FROM PHIEUNHAP
		WHERE NGAYNHAP >=CONCAT(@THEONGAY,' 00:00:00') AND NGAYNHAP <= CONCAT(@THEONGAY,' 23:59:59')
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTSPBYSEARCH]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--proc hiển thị sản phẩm theo tìm kiêm
CREATE PROC [dbo].[SP_SELECTSPBYSEARCH]
@MASP VARCHAR(20) = NULL,
@TENSP NVARCHAR(50) = NULL,
@GIATHAPNHAT FLOAT = NULL,
@GIACAONHAT FLOAT = NULL,
@MALOAI VARCHAR(10) = NULL,
@QRCODE VARCHAR(100) = NULL
AS
BEGIN
	IF @MASP IS NULL
	BEGIN
		SET @MASP = N'%'
	END
	IF @TENSP IS NULL
	BEGIN
		SET @TENSP = N'%'
	END
	IF @MALOAI IS NULL
	BEGIN
		SET @MALOAI = '%'
	END
	IF @QRCODE IS NULL
	BEGIN
		SET @QRCODE = '%'
	END
	IF @GIATHAPNHAT IS NULL
	BEGIN
		SELECT @GIATHAPNHAT = MIN(GIABAN) FROM SANPHAM
	END
	IF @GIACAONHAT IS NULL
	BEGIN
		SELECT @GIACAONHAT =  MAX(GIABAN) FROM SANPHAM
	END
	SELECT * FROM SANPHAM
	WHERE MASP LIKE '%'+@MASP+'%' AND TENSP LIKE '%'+@TENSP+'%'  AND MALOAI LIKE @MALOAI AND QRCODE LIKE @QRCODE AND (GIABAN BETWEEN @GIATHAPNHAT AND @GIACAONHAT)
	AND MAKE IN (SELECT MAKE FROM KEHANG) AND TRANGTHAI = 1
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTTIMKIEMHDBANLE]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SELECTTIMKIEMHDBANLE]
@MAHD VARCHAR(50) = NULL,@NGAYBD DATE = NULL, @NGAYKT DATE = NULL,@THEONGAY DATE = NULL
AS
BEGIN
IF @MAHD IS NULL
BEGIN
	SET @MAHD = N'%'
END
IF @NGAYBD IS NULL
BEGIN
	SELECT @NGAYBD = CONVERT(DATE,MIN(NGAYLAP),108) FROM HDBANLE 
END
IF @NGAYKT IS NULL
BEGIN
	SELECT @NGAYKT  = CONVERT(DATE,MAX(NGAYLAP),108) FROM HDBANLE 
END
	IF @THEONGAY IS NULL
	BEGIN
		SELECT * FROM HDBANLE WHERE MAHDBANLE LIKE @MAHD AND CONVERT(DATE,NGAYLAP,108) >= @NGAYBD and CONVERT(DATE,NGAYLAP,108)<= @NGAYKT
	END
	BEGIN
		SELECT * FROM HDBANLE WHERE NGAYLAP >= CONCAT(@THEONGAY,' 00:00:00') AND NGAYLAP <= CONCAT(@THEONGAY,' 23:59:59')
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTHDDATHANG]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SELECTHDDATHANG]
@MAHD VARCHAR(20) = NULL,@NGAYBD DATE = NULL, @NGAYKT DATE = NULL,@THEONGAY DATE = NULL,@TRANGTHAI VARCHAR(10) = NULL,@SDTKH VARCHAR(20)
AS
BEGIN
	IF @MAHD IS NULL BEGIN SET @MAHD = '%' END

	IF @NGAYBD IS NULL BEGIN SELECT @NGAYBD = MIN(NGAYDAT) FROM HDDATHANG END

	IF @NGAYKT IS NULL BEGIN SELECT @NGAYKT = MAX(NGAYDAT) FROM HDDATHANG END

	IF @MAHD IS NULL BEGIN SET @MAHD = '%' END

	IF @SDTKH IS NULL BEGIN SET @SDTKH = '%' END

	IF @TRANGTHAI IS NULL BEGIN SET @TRANGTHAI = '%' END

	IF @THEONGAY IS NULL
	BEGIN
		SELECT * FROM HDDATHANG
		WHERE MAHDDATHANG LIKE @MAHD AND NGAYDAT >=CONCAT(@NGAYBD,' 00:00:00') AND NGAYDAT<= CONCAT(@NGAYKT,' 23:59:59') AND SDTKH LIKE @SDTKH AND TRANGTHAI LIKE @TRANGTHAI
	END
	ELSE
	BEGIN
		SELECT * FROM HDDATHANG
		WHERE NGAYDAT >=CONCAT(@THEONGAY,' 00:00:00') AND NGAYDAT <= CONCAT(@THEONGAY,' 23:59:59')
	END
END





GO
/****** Object:  StoredProcedure [dbo].[SP_TAOPHIEUNHAP]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--SP TẠO PHIẾU NHẬP VÀ LẤY VỀ THÔNG TIN PHIẾU
CREATE PROC [dbo].[SP_TAOPHIEUNHAP]
@NGAYNHAP DATE, @NHACC VARCHAR(30), @MANV VARCHAR(20)
AS
BEGIN
	INSERT INTO PHIEUNHAP VALUES (@NGAYNHAP,NULL,@MANV,'KHO1',@NHACC,NULL);
	SELECT TOP 1 MAPN, NGAYNHAP FROM PHIEUNHAP
	ORDER BY MAPN DESC
END

SELECT * FROM CTPHIEUNHAP
GO
/****** Object:  StoredProcedure [dbo].[SP_THANHTOAN_HDDATHANG_RETURNMAHD]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THANHTOAN_HDDATHANG_RETURNMAHD]
@TRANGTHAI INT, @NGAYDAT DATETIME, @DIACHIGH NVARCHAR(100) ,@MAGG VARCHAR(30),@SDTKH VARCHAR(11),@HINHTHUCTT BIT, @KHUYENMAI FLOAT, @DIEMSD INT
AS
BEGIN
	UPDATE GGHOADON SET SL = SL - 1 WHERE MAGG = @MAGG
	UPDATE KHACHHANG SET SODIEM = SODIEM - @DIEMSD WHERE SDT = @SDTKH
	INSERT INTO HDDATHANG VALUES (@TRANGTHAI, @NGAYDAT,@DIACHIGH,@MAGG,@SDTKH,NULL,@HINHTHUCTT,@KHUYENMAI,@DIEMSD)
	SELECT TOP 1 MAHDDATHANG FROM HDDATHANG
	ORDER BY MAHDDATHANG DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_THANHTOANHD]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_THANHTOANHD]
@MAKH VARCHAR(20), @MAGG VARCHAR(20), @DIEMSD INT, @MAHDBANLE VARCHAR(50),@KHUYENMAI FLOAT
AS
BEGIN
	UPDATE HDBANLE SET SDTKH =@MAKH, MAGG = @MAGG, DIEMSD = @DIEMSD,TRANGTHAI = 1,KHUYENMAI = @KHUYENMAI WHERE MAHDBANLE = @MAHDBANLE
	UPDATE KHACHHANG SET SODIEM = SODIEM - @DIEMSD
END

GO
/****** Object:  StoredProcedure [dbo].[SP_THEMSP]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_THEMSP]
	@MASP VARCHAR(20),
	@TENSP NVARCHAR(50),
	@HINH IMAGE,
	@GIABAN FLOAT ,
	@GIANHAP FLOAT ,
	@QRCODE VARCHAR(30),
	@DONVI NVARCHAR(10),
	@MALOAI VARCHAR(20),
	@MANCC VARCHAR(20)
AS
BEGIN
	INSERT INTO SANPHAM VALUES (@MASP,@TENSP,@HINH,@GIANHAP,@GIABAN,0,0,@QRCODE,@DONVI,NULL,@MALOAI,@MANCC,1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMSPPHIEUXUAT]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEMSPPHIEUXUAT]
	@MASP VARCHAR(20), @SL INT, @MAPX VARCHAR(50),@MAKE VARCHAR(50)
AS
BEGIN
	INSERT INTO CTPHIEUXUAT VALUES (@MASP,@MAPX,@SL)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKE]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGKE]
@TKTHEO INT, @NGAYBD DATE, @NGAYKT DATE
AS
BEGIN
DECLARE @NGAYTAM DATE
DECLARE @TONGTIEN FLOAT
DECLARE @BANGTAM TABLE(
	NGAY DATE, TONGTIEN FLOAT
)
	INSERT INTO @BANGTAM SELECT NGAYLAP,(CTHDBANLE.SL * CTHDBANLE.GIABAN) FROM HDBANLE
	LEFT JOIN CTHDBANLE ON CTHDBANLE.MAHDBANLE = HDBANLE.MAHDBANLE

	INSERT INTO @BANGTAM SELECT NGAYDAT,(CTHDDATHANG.SL * CTHDDATHANG.GIABAN) FROM HDDATHANG
	LEFT JOIN CTHDDATHANG ON CTHDDATHANG.MAHDDATHANG = HDDATHANG.MAHDDATHANG


	IF(@TKTHEO = 0)
	BEGIN
		SELECT NGAY,SUM(TONGTIEN) FROM @BANGTAM
		WHERE NGAY >= @NGAYBD AND NGAY <= @NGAYKT
		GROUP BY NGAY
	END
	
	IF(@TKTHEO =1)
	BEGIN
		SELECT CONCAT(YEAR(NGAY),'-',MONTH(NGAY)),SUM(TONGTIEN) FROM @BANGTAM
		WHERE NGAY >= @NGAYBD AND NGAY <= @NGAYKT
		GROUP BY YEAR(NGAY),MONTH(NGAY)
	END

	IF(@TKTHEO = 2)
	BEGIN
		SELECT YEAR(NGAY),SUM(TONGTIEN) FROM @BANGTAM
		WHERE (NGAY) >= (@NGAYBD) AND (NGAY) <= (@NGAYKT)
		GROUP BY YEAR(NGAY)
	END
END



GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKEHOMNAY]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGKEHOMNAY]
AS
BEGIN
DECLARE @NGAYTAM DATE
DECLARE @TONGTIEN FLOAT
DECLARE @BANGTAM TABLE(
	NGAY DATE, TONGTIEN FLOAT
)	INSERT INTO @BANGTAM SELECT NGAYDAT,(CTHDDATHANG.SL * CTHDDATHANG.GIABAN) FROM HDDATHANG
	LEFT JOIN CTHDDATHANG ON CTHDDATHANG.MAHDDATHANG = HDDATHANG.MAHDDATHANG


	INSERT INTO @BANGTAM SELECT NGAYLAP,(CTHDBANLE.SL * CTHDBANLE.GIABAN) FROM HDBANLE
	LEFT JOIN CTHDBANLE ON CTHDBANLE.MAHDBANLE = HDBANLE.MAHDBANLE

	SELECT SUM(TONGTIEN) FROM  @BANGTAM
	WHERE NGAY >= CONCAT(CONVERT(DATE,GETDATE(),108),' 00:00:00')
	group by NGAY
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKELOINHUAN]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGKELOINHUAN]
@NGAYBD DATE, @NGAYKT DATE
AS
BEGIN
DECLARE @LNHDBANLE FLOAT, @LNHDDATHANG FLOAT
	SELECT @LNHDBANLE= (SUM(CTHDBANLE.SL * CTHDBANLE.GIABAN)- SUM(CTHDBANLE.SL * SANPHAM.GIANHAP) -  SUM(HDBANLE.DIEMSD + HDBANLE.KHUYENMAI)) FROM HDBANLE
	LEFT JOIN CTHDBANLE ON CTHDBANLE.MAHDBANLE = HDBANLE.MAHDBANLE
	LEFT JOIN SANPHAM ON CTHDBANLE.MASP = SANPHAM.MASP
	WHERE @NGAYBD <= CONCAT(CONVERT(DATE,NGAYLAP,108),' 00:00:00') AND @NGAYKT >= CONCAT(CONVERT(DATE,NGAYLAP,108),' 23:59:59')
	GROUP BY YEAR(NGAYLAP)
	
	SELECT @LNHDDATHANG = SUM(CTHDDATHANG.SL *CTHDDATHANG.GIABAN) -  SUM(CTHDDATHANG.SL * SANPHAM.GIANHAP) - SUM(HDDATHANG.DIEMSD + HDDATHANG.KHUYENMAI) FROM HDDATHANG
	LEFT JOIN CTHDDATHANG ON CTHDDATHANG.MAHDDATHANG = HDDATHANG.MAHDDATHANG
	LEFT JOIN SANPHAM ON CTHDDATHANG.MASP = SANPHAM.MASP
	WHERE @NGAYBD <= CONCAT(CONVERT(DATE,NGAYDAT,108),' 00:00:00') AND @NGAYKT >= CONCAT(CONVERT(DATE,NGAYDAT,108),' 23:59:59')
	GROUP BY YEAR(NGAYDAT)
	IF @LNHDBANLE IS NULL
	BEGIN
		SET @LNHDBANLE = 0
	END
	IF @LNHDDATHANG IS NULL
	BEGIN SET @LNHDDATHANG = 0 END
	SELECT (@LNHDBANLE + @LNHDDATHANG) 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGKESPBANCHAY]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGKESPBANCHAY]
AS
BEGIN
DECLARE @NGAYTAM DATE
DECLARE @TONGTIEN FLOAT
DECLARE @BANGTAM TABLE(
	MASP VARCHAR(20), TENSP NVARCHAR(50), SL INT
)	

	INSERT INTO @BANGTAM SELECT CTHDDATHANG.MASP,SANPHAM.TENSP,CTHDDATHANG.SL FROM HDDATHANG
	LEFT JOIN CTHDDATHANG ON CTHDDATHANG.MAHDDATHANG = HDDATHANG.MAHDDATHANG
	JOIN SANPHAM ON SANPHAM.MASP = CTHDDATHANG.MASP

	INSERT INTO @BANGTAM  SELECT CTHDBANLE.MASP,SANPHAM.TENSP,CTHDBANLE.SL FROM HDBANLE
	LEFT JOIN CTHDBANLE ON CTHDBANLE.MAHDBANLE = HDBANLE.MAHDBANLE
	JOIN SANPHAM ON SANPHAM.MASP = CTHDBANLE.MASP

	SELECT TOP 10 SUM(SL),TENSP, MASP FROM @BANGTAM
	GROUP BY MASP,TENSP
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOAPHIEUNHAP]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--XÓA PHIẾU NHÂP
CREATE PROC [dbo].[SP_XOAPHIEUNHAP]
@MAPN VARCHAR(20)
AS
BEGIN
	DELETE FROM CTPHIEUNHAP WHERE MAPN = @MAPN
	DELETE FROM PHIEUNHAP WHERE MAPN = @MAPN
END


SELECT * FROM PHIEUNHAP
	


--TẠO PHIEU XUAT TRẢ VỀ MÃ PX
GO
/****** Object:  StoredProcedure [dbo].[SP_XOASPCHITIET]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--XÓA SẢN PHẨM CT TRONG PHIẾU NHẬP
CREATE PROC [dbo].[SP_XOASPCHITIET]
@MASP VARCHAR(20), @SL INT,@MAPN VARCHAR(50)
AS
BEGIN
	DELETE FROM CTPHIEUNHAP WHERE MASP = @MASP AND MAPN = @MAPN
	UPDATE SANPHAM SET SLTONKHO = SLTONKHO - @SL WHERE MASP = @MASP
END

--SELECT CHI TIẾT PHIEU NHAP CUA FORM NHAPKHOPANEL 
GO
/****** Object:  StoredProcedure [dbo].[SP_XOASPPHIEUXUAT]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--XÓA SP TRONG CT PX
CREATE PROC [dbo].[SP_XOASPPHIEUXUAT]
	@MASP VARCHAR(20), @SL INT, @MAPX VARCHAR(50)
AS
BEGIN
DELETE FROM CTPHIEUXUAT WHERE MASP = @MASP AND MAPX = @MAPX
	--UPDATE SANPHAM SET SLTRENKE = SLTRENKE - @SL, SLTONKHO = SLTONKHO + @SL WHERE MASP = @MASP	
END
GO
/****** Object:  StoredProcedure [dbo].[TICHDIEM]    Script Date: 08/04/2024 02:38:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TICHDIEM]
@THANHTIEN FLOAT, @MAKH VARCHAR(20)
AS
BEGIN
	UPDATE KHACHHANG SET SODIEM = SODIEM + (@THANHTIEN*0.01) WHERE SDT = @MAKH
END

-- SELECT HÓA ĐƠN BÁN LẺ AND TÌM KIẾM
GO
USE [master]
GO
