<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>F:\KI4_FALL_2022\DU_AN1\PS23306_NguyenHuuHoang_DUAN1_Nhom101\dist\PS23306_NguyenHuuHoang_DUAN1_Nhom10.jar</jar>
  <outfile>F:\KI4_FALL_2022\DU_AN1\PS23306_NguyenHuuHoang_DUAN1_Nhom101\dist\StoreSH_KH.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\TIEN SY\Desktop\icons8-grocery-store-32.ico</icon>
  <jre>
    <path>jdk-17.0.3.1</path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>17</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
</launch4jConfig>